__pycache__/
.pytest_cache/
.DS_Store
.vscode/
.idea/

logs/
*/logs/
*.log

target/
*/target/

dbt_modules/
*/dbt_modules/

dbt_packages/
*/dbt_packages/

.env
*/.env
*.env

.user.yml

*credentials.json
*key.json
application_default_credentials.json
