services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"

  marquez-db:
    image: postgres:14
    environment:
      - POSTGRES_USER=marquez
      - POSTGRES_PASSWORD=marquez
      - POSTGRES_DB=marquez
    ports:
      - "5433:5432"
    volumes:
      - marquez_db_data:/var/lib/postgresql/data

  marquez:
    image: marquezproject/marquez:0.48.0
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      - MARQUEZ_CONFIG=marquez.yml
      - MARQUEZ_PORT=5000
      - MARQUEZ_ADMIN_PORT=5001
      - MARQUEZ_BACKEND=POSTGRES
      - POSTGRES_USER=marquez
      - POSTGRES_PASSWORD=marquez
      - POSTGRES_HOST=marquez-db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=marquez
    volumes:
      - ./marquez.yml:/usr/src/app/marquez.yml
    depends_on:
      - marquez-db

  marquez-web:
    image: marquezproject/marquez-web:0.48.0
    ports:
      - "3000:3000"
    environment:
      - MARQUEZ_HOST=marquez
      - MARQUEZ_PORT=5000
    depends_on:
      - marquez

  airflow:
    build: .
    hostname: airflow
    container_name: dbt-airflow-lab-airflow-1
    networks:
      - default
      - pypi_proxy_net
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__FERNET_KEY=rL6Xf9-H4Z_p1jO_uXU3o9KqY0WvT5Z4mN2eB1aC3d8=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
      - POSTGRES_HOST=postgres  
      - POSTGRES_PORT="5432"
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
      - DBT_PACKAGES_DIR=/tmp/dbt_packages
      - DBT_TARGET_PATH=/tmp/dbt_target
      - GOOGLE_APPLICATION_CREDENTIALS=/usr/local/airflow/gcp_credentials.json
      # OpenLineage Configuration
      - "AIRFLOW__OPENLINEAGE__TRANSPORT={\"type\": \"http\", \"url\": \"http://marquez:5000\"}"
      - AIRFLOW__OPENLINEAGE__NAMESPACE=dbt-airflow-lab
      

    volumes:
      - ./dags:/usr/local/airflow/dags
      - ./plugins:/usr/local/airflow/plugins
      - ./dbt_gcs_project:/usr/local/airflow/dbt_project
      - ${APPDATA}/gcloud/application_default_credentials.json:/usr/local/airflow/gcp_credentials.json
    ports:
      - "8080:8080"
    command: bash -c "airflow db migrate && airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin || true && (cd dbt_project && dbt deps) && (airflow webserver & airflow scheduler)"
    depends_on:
      - postgres
      - marquez

networks:
  pypi_proxy_net:
    name: pypi_shared_network
    external: true

volumes:
  marquez_db_data:
